*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('../img/z5368161393355_5cd2dcdcdb1b08a840ebc2b92214c915.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.Icon a{
    display: flex;
    text-decoration: none;
}
.Icon i{
    font-size: 3.4rem;
    margin: 5px;
    color: #ffff;
}
.Icon p{
    font-size: 2.4rem;
    font-weight: bolder;
    color: #ffff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login{
    background-color: rgb(187, 187, 187);
    width: 40%;
    margin: 20px 30px;
    padding: 30px;
    border-radius: 10%;
}
.login h1{
    text-transform: uppercase;
    text-align: center;
}
.login p{
    margin-top: 10px;
}
form > input{
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid rgb(45, 213, 255);
    margin-bottom: 20px;
}
form > button{
    padding: 5px;
    width: 100%;
    background-color: rgb(45, 213, 255);
    border: none;
}

.signIn{
    width: 40%;
    background-color: rgb(187, 187, 187);
    padding: 30px;
    margin: 20px 30px;
    border-radius: 10%;
}
.signIn h1{
    text-transform: uppercase;
    text-align: center;
}
.signIn p{
    margin-top: 10px;
}